<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

</head>

<body>
    <div id="register"></div>

    <div>
        <form action="/verify">
            <button>Verify</button>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $("#register").qrcode({ width: 200, height: 200, text: "{{totp_url}}" });
        });
    </script>
</body>

</html>